@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500;800&family=Montserrat:wght@300;400;500&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: hsl(0, 0%, 95%);
  // color: hsl(186, 80%, 24%);  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
